.acc_activity_sd{
    display: flex;
    background-color: #F0F4FC;
}
.acc_activity_right_md{
    margin-top: 30px;
    margin-left: 30px;
}
.acc_activity_right_content{
    display: flex;
    margin-top: 15px;
}
.acc_active_table_md{
    width: 580px;
    max-height: 80vh;
    overflow: auto;
}
.acc_active_table_md::-webkit-scrollbar{
    width: 5px;
}
.acc_tble tr{
    box-shadow: none !important;
}
.acc_tble thead{
    box-shadow: none !important;
}

/* show detail comp  */

.sDetail_container{
    margin-left: 20px;
}
.showDetail_container{
    background-color: white;
    width: 330px;
    padding: 20px;
    border-radius: 5px;
}
.sd_dateTime{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sd_dateTime>p{
    font-size: .75rem;
    opacity: .5;
    
}
.sd_detail_para{
    font-size: .9rem;
    margin-top: 15px;
    opacity: .5;
}
.botm_btn{
    margin-top: 50px;
    text-align: center;
}
.botm_btn>button{
    width: 200px;
}