.main_sect_animation_div{
    background-image: url('../../Assets/Group 3655@2x.png');
    background-size: 100% 100%;
    /* width: 100%; */
    /* margin-top: 50px; */
    background-repeat: no-repeat;
}
.station_img{
    background-image: url('../../Assets/Group 4929@3x.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-position: ; */
    /* background-size:; */
    object-fit: fill;
    width: auto;
    height: 12vh;
    /* margin-top: 100px; */
    position: relative;
}
.tree_img{
    margin-top: 40px;
    width: 100%;
}
.road_img{
    position: absolute;
    bottom: -8px;
    width: 100%;
}
.station_img{
    overflow: hidden;
}
.train_img{
    position: absolute;
    bottom: 0px;
    z-index: 11;
    right: -120px;
    /* overflow-x: hidden; */
    /* transform: translate(-50%,50%); */
}
.airplane{
    position: absolute;
    z-index: 0;
    bottom: 150px;
    left: 400px;
  }
.animation_content_div{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0px auto;
    padding-top: 60px;
}
.animation_para_div{
    width: 566px;
}
.animation_para_div h1{
    font-weight: bold;
    color: #0A1433;
    /* font: normal normal 900 55px/70px poppins; */

}
.animation_para_div p{
    color: #2E58A6;
}
.home_form_div{
    background-color: white;
    /* box-shadow: 0px 0px 10px rgb(202, 202, 202); */
    box-shadow: 0px 3px 10px #00000029;

    border-radius: 5px;
    padding: 40px 20px;
    padding-top: 17px;
    width: 350px;
    margin-left: 80px;
    position: relative;
    z-index: 999;
    text-align: center;
}
.home_form_div >p{
    font-weight:600;
    font-size: 1.2em;
    margin-bottom: 0px;
    /* font: normal normal 600 25px/35px Poppins; */

}
.home_form_div input,.home_form_div select{
    width: 300px;
    border: none;
    outline: none;
    padding: 6px 12px;
   background-color: #F0F4FC;
   margin-top: 10px;
   color: #2E58A6;
   opacity: .5;

}
.captcha{
    /* width: 250px ; */
    margin: 20px auto;
}

.rc-anchor-normal .rc-anchor-content{
    width: 90px !important;
}
.home_form_btn{
    background-color: #2E58A6;
    color: white;
    text-align: center;
    padding: 7px 35px;
    outline: none;
    border: none;
    margin-top: 10px;
    border-radius: 3px;
}
.check_para{
    margin-left: 10px;
    color: #2E58A6;
    font-size: .9rem;
    margin-top: 4px;
}
.check_inp{
    width: inherit !important;
    /* display: inline-/block; */
   /* margin-top: 4px; */
}
.check_box{
    display: flex;
    /* align-items: center; */
}
.home_form_div input::placeholder{
    color: #2E58A6;
}
.home_form_div label{
    margin-top: 20px;
    text-align: start;
}
._home_video_div{
    text-align: center;
    margin-top: 30px;
    width: 77%;
    margin: 50px auto;
}
._home_video_div h3{
    font-weight: bold;
    color: #0A1433;
}
._home_video_div p{
    margin-top: 20px;
  color: #2E58A6;
  font-size: .95rem;
  font: normal normal normal .9rem Poppins;

    
}
._home_video_div img{
    width: 600px;
    margin-top: 20px;
}

@media screen and (max-width:1000px){
    .tree_img,.station_img,.airplane{
        display: none;
    }
    ._home_video_div{
        width: 95%;
    }
}
@media screen and (max-width:700px){
    .animation_content_div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .animation_para_div{
        text-align: center;
    }
    .home_form_div{
        margin-left: 0px;
    }
}
@media screen and (max-width:620px){
    ._home_video_div img{
        width: 100%;
    }
    
}
@media screen and (max-width:350px){
    .home_form_div{
        width: 100%;
    }
    .home_form_div input, .home_form_div select{
        width: 250px;
    }
}
@media screen and (max-width:310px){
    .home_form_div input, .home_form_div select{
        width: 230px;
    }
}