.dltAcc_container{
    width: 460px;
    margin-top: 30px;
    margin-left: 30px;
}
.ss_sd>h6{
    font-weight: bold;
}
.leaving_img{
    margin-top: 30px;
    text-align: center;
}
.leaving_img>img{
    width: 300px;
    object-fit: contain;
}
.dlt_acc_md>select{
    border: none;
    outline: none;
    padding: 10px;
    font-size: .85rem;
}
.dlt_slct{
    margin-top: 20px;
}
@media(max-width:600px){
    .leaving_head{
        display: block !important;
        text-align: center;
    }
    .dltAcc_container{
        width: 100%;
        margin: 20px auto;
    }
    .accInfo_sd{
        justify-content: center;
    }
}
@media(max-width:500px){
    .dlt_slct>select{
        font-size: .7rem;
    }
}
@media(max-width:400px){
    .dlt_slct>select{
        font-size: .6rem;
    }
    .leaving_img>img{
        width: 250px;
    }
}
@media(max-width:360px){
    .dlt_slct>select{
        font-size: .5rem;
    }
}
@media(max-width:310px){
    .dlt_slct>select{
        font-size: .5rem;
        padding: 10px 1px;
    }
}