
@media (prefers-reduced-motion: no-preference) {
  .airplane {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform:translate(0px,0px);
  }
  to {
    transform: translate(550px,-300px);
  }
}

input , select,textarea{
  box-shadow: inset 0 1px 2px rgba(83, 83, 83, 0.39), 0 -1px 0px #FFF, 0 1px 0 #FFF;
  border-radius: 5px;
}
input::placeholder , select::placeholder,textarea::placeholder{
  color: #7095db;
  font-weight: 300;
}
*{
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}

/* cookie  */

/* cokkiew css  */

.cokkie_main_div {
  position: fixed;
  bottom: 0px;
  z-index: 99999;
  width: 100%;
  filter: opacity(0.9);
  padding: 10px;
  background-color: #748AA6;
  backdrop-filter: blur(10px);
  background: #748AA6 0% 0% no-repeat padding-box;
  -webkit-backdrop-filter: blur(10px);
  opacity: 1;

}

.cross_cookie {
  position: absolute;
  right: 20px;
  top: 10px;
  object-fit: contain;
  width: 15px;
  color: white;
  font-size: 1.5em;
}
.cross_cookie:hover{
  cursor: pointer;
}
.cokkie_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cokkie_para {
  width: 82%;
  margin-left: 20px;
  font-size: 0.9rem;
  margin-top: 10px;
  color: white;
  font: normal normal 300 16px/25px Poppins;

}
.cokkie_para > p {
  margin-bottom: 0px;
  font-size: 0.8rem;
}
.cokkie_btn_div{
  margin-top: 10px;
}
.m-l{
  margin-left: 10px;
}
.cokkie_btn_div > button {
  /* margin-left: 10px; */
  border: none;
  outline: none;
  padding: 6px 20px;
  border-radius: 5px;
  color: #2E58A6;
  
  
}
.cus_btn2{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;

}
.cokkie_white {
  border-radius: 3px;
  background: transparent;
  padding: 5px 10px !important;
}
.cokkie_grn {
  border-radius: 3px;
}

@media screen and (max-width: 1144px) {
  .cokkie_para {
    /* width: 600px; */
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1045px) {
  .cokkie_para {
    /* width: 450px; */
    font-size: 0.8rem;
  }
}


@media screen and (max-width: 904px) {
  .cokkie_main_div {
    /* border-radius: 20px 20px 0 0; */
    text-align: center;
    padding: 20px 0px;
  }
  .cokkie_div {
    flex-direction: column;
    /* align-items: flex-start; */
  }
  .cokkie_para {
    width: 90% !important;
  }
  .cokkie_btn_div {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .cokkie_para {
    width: 360px;
    font-size: 0.8rem;
  }
  .cokkie_img {
    width: 100px;
  }
  .cokkie_main_div {
    padding: 5px;
  }
}

@media screen and (max-width: 670px) {
  .cokkie_white {
    margin-top: 10px;
  }
  .cokkie_para {
    margin-left: 10px;
    font-size: 0.7rem;
  }
  .cokkie_img {
    width: 70px;
  }
}