/* be a part section  */

.beA_part_md{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1340px;
    margin: 50px auto;
}

.beA_part_left_md{
    width: 520px;
}
.beA_part_left_md>h4{
    font-weight: bold;
    margin-bottom: 25px;
}
.be_part_para{
    font-size: .9rem;
    color: #2E58A6;
    margin-top: 10px;
}

.beA_part_right_form_md{
    width: 350px;
}
.beA_part_right_form_md>h4{
    color: #2E58A6;
    font-weight: bold;
    font-size: 1.2rem;
}
.beA_part_form input ,.beA_part_form button{
    width: 100%;
    outline: none;
    border: none;
    margin-top: 15px;
    background-color: #F0F4FC;
    padding: 9px;
}
.beA_part_form button{
    background-color: #2E58A6;
    color: white;
    border-radius: 4px;
}
.hw_input{
    display: flex;
    justify-content: space-between;
}
.hw_input>input{
    width: 48%;
}
.beA_part_form img{
    width: 100%;
    margin-top: 10px;
}



/* benifit section  */


.benifit_md{
    background-color: #F0F4FC;
    padding: 50px 0px;
    text-align: center;
    margin: 20px 0px;
    margin-bottom: 30px;
}
.benifit_md>h4{
    font-weight: bold;
}

.benifit_cards{
    display: flex;
    justify-content: space-between;
    width: 64%;
    margin: 30px auto;
    max-width: 1240px;
    align-items: flex-start;
}
.benifit_cards>div{
    width: 210px;
}
.benifit_cards img{
    width: 70px ;
    height: 70px;
}
.benifit_cards h6{
    font-weight: bold;
    margin: 15px 0px;
}
.benifit_cards p{
    font-size: .85rem;
    color:#2E58A6;
}

/* our team section  */

.ourTeam_sd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: 1300px;
    margin: 20px auto;
    margin-bottom: 50px;
}

.ourTeam_left_content{
    width: 540px;
}
.ourTeam_left_content>img{
    width: 100%;
    height: 60vh;
}
.ourTeam_right_md{
    width: 420px;
    text-align: center;
}
.ourTeam_right_md>h4{
    font-weight: bold;
    margin-bottom: 30px;
}