.web_logo{
    width: 90px;
    height: 60px;
}
.custom_nav{
    padding: 15px 40px;
    
}
.nav_container{
    box-shadow: 0px 2px 4px gainsboro;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 1111;
}
.nav_ul{
    margin-left: 30px;
}
.nav-link{
    color:  #2E58A6 !important;
    margin-left: 30px ;
}
.navbar-light .navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

/* foterr  */
.footer_main_div{
    display: flex;
    padding: 20px 120px;
    padding-top: 50px;
    justify-content: space-between;
  background-color: #F0F4FC;

}
.footer_link_div{
    width: 50%;
}
.f_links{
    font-weight: bold;
    color: #2E58A6;
    text-decoration: none;
}
.f_links:hover{
    color: #2E58A6;
}
.footer_link_div p{
  font-size: .9rem;
}
.footer_para1{
    margin-top: 10px;
}
.footer_form_div{
    width: 28%;
    margin-left: 30px;
}
.link_ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-left: 0px;
    font-size: .9rem;
    color: #2E58A6;
}
.form_head{
    color: #2E58A6;
    font-weight: 600;
}
.footer_form input,.footer_form textarea{
    outline: none;
    border: none;
    width: 350px;
    margin-top: 10px;
    padding: 8px 15px;
    /* box-shadow: 0px 2px 10px  gainsboro inset; */
}
.sent_btn_div{
    text-align: center;
}
.foter_sent_btn{
    background-color: #2E58A6;
    color: white;
    border: none;
    outline: none;
    padding: 6px 40px;
    border-radius: 3px;
    margin-top: 15px;
}

/* copy right  */

.copy_right_main_div{
    width: 80%;
    /* height: 80px; */
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    /* height: 122px; */

}
.copy_right_container{
    
    padding: 10px;
    background-color: #2E58A6;
}
.social_links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
    margin-bottom: 0px;
    width: 150px;
}
.contct_path_line{
    width: 90px;
}
.insta_icon{
    margin-top: 5px;
}
.contact_link_ul_ h5{
    color: white;
    font-size: .9rem;
    margin-bottom: 0px;
}
.copy_right_div{
    /* position: relative; */
    text-align: center;
}
.copy_right_div p{
    color: white;
    /* margin-top: 50px; */
    margin-bottom: 0px;
    font-size: .85rem;
    font-weight: 300;
    margin-top: -20px;
}
.foter_link{
    text-decoration: none;
    color: white;
    font-size: .9rem;
    font-weight: 400;
}
.foter_link:hover{
    color: white;
}
.term_link_div div{
    color: white;
    margin-top: 20px;
}

.sub_nav_container{
    background-color: #F0F4FC;
    padding: 15px 0px;
    margin-top: 10px;
    position: sticky;
    top: 90px;
    z-index: 11;
    background: #F0F4FC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;

}
.sub_nav_container h4{
    margin-left: 130px;
    font-weight: bold;
    margin-bottom: 0px;
}
@media screen and (max-width:1070px){
    .footer_form input,.footer_form textarea{
        width: 300px;
    }
}

@media screen and (max-width:990px){
    .footer_main_div{
        flex-wrap: wrap;
        padding: 50px 20px;
        justify-content: center;
    }
    .web_logo{
        margin: 0px auto;
    }
    .nav_ul{
        margin-left: 0px;
    }
    .nav-link{
        margin-left: 5px;
    }
    .footer_link_div{
        width: 80%;
        text-align: center;
    }
    .link_ul{
        margin: 10px auto;
    }
    .footer_form_div{
       margin-left: 0px;
       margin-top: 20px;
       width: 70%;
       margin: 20px auto;
       text-align: center;
    }
    .footer_form input,.footer_form textarea{
        width: 100%;
    }
    .sub_nav_container h4{
        margin-left: 50px;
    }
}

@media screen and (max-width:600px){
    .copy_right_main_div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .custom_nav{
        padding: 10px ;
    }
    .copy_right_div p{
        margin-top: 0px;
    }
    /* .copy_right_main_div{
        flex-direction: column;
        justify-content: center;
    } */
}
@media screen and (max-width:450px){
    .link_ul{
        margin: 10px auto;
        flex-direction: column;
    }
    .link_ul>li{
        margin-top: 20px;
    }
    .footer_para1{
        margin-top: 15px;
    }
    .footer_link_div{
        width: 100%;
    }
    .footer_form_div{
        width: 90%;
    }
    .term_link_div div,.copy_right_div{
        margin-top: 10px;
    }
    .sub_nav_container h4{
        margin-left: 20px;
    }
}